
@media (max-width: 1200px) {
    .header .widgetItem {
        width: 100% !important;
    }
}
body {
  background-color: red !important
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #ffc107;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

.modal-xl {
    width: 90%;
    max-width: 1200px;
}

.qa_file {
    background-image: url(/images/attach.png);
    width: 24px;
    height: 24px;
    margin-left: 5px;
    display: inline-flex;
}

.qa_fileList {
    position: relative;
    top: 25px;
    background-color: #1f8df3;
    color: WHITE;
    padding: 10px;
    border-radius: 15px;
}

    .qa_fileList li {
        padding: 2px;
        width: fit-content;
    }

.fileView:hover {
    box-shadow: 0px 0px 20px 10px lightskyblue;
    border-radius: 10px;
}

.fileDown:hover {
    box-shadow: 0px 0px 20px 10px lightskyblue;
    border-radius: 10px;
}

#robot {
    width: 250px;
    position: fixed;
    bottom: 30px;
    right: 0;
}

.speech-bubble {
    border-radius: 10px;
    position: fixed;
    bottom: 250px;
    right: 160px;
    background-color: lightcyan;
    box-shadow: 5px 5px 20px 5px lightskyblue;
    max-width: 350px;
}

    .speech-bubble:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 10%;
        width: 0px;
        height: 0;
        border: 26px solid transparent;
        border-top-color: lightcyan;
        border-bottom: 0;
        border-right: 0;
        margin-left: -13px;
        margin-bottom: -26px;
    }

.msgClose {
    width: 32px;
    height: 32px;
    opacity: 0.3;
    position: fixed;
    bottom: 270px;
    right: 75px;
    cursor: pointer;
}

    .msgClose:hover {
        opacity: 1;
    }

    .msgClose:before, .msgClose:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 10px;
        background-color: lightskyblue;
    }

    .msgClose:before {
        transform: rotate(45deg);
    }

    .msgClose:after {
        transform: rotate(-45deg);
    }


/*loading viewer*/
.lds-roller {
    margin: 0 auto;
    width: 80px;
    height: 80px;
}

    .lds-roller div {
        animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: 40px 40px;
    }

        .lds-roller div:after {
            content: " ";
            display: block;
            position: absolute;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background: #007bff;
            margin: -4px 0 0 -4px;
        }

        .lds-roller div:nth-child(1) {
            animation-delay: -0.036s;
        }

            .lds-roller div:nth-child(1):after {
                top: 63px;
                left: 63px;
            }

        .lds-roller div:nth-child(2) {
            animation-delay: -0.072s;
        }

            .lds-roller div:nth-child(2):after {
                top: 68px;
                left: 56px;
            }

        .lds-roller div:nth-child(3) {
            animation-delay: -0.108s;
        }

            .lds-roller div:nth-child(3):after {
                top: 71px;
                left: 48px;
            }

        .lds-roller div:nth-child(4) {
            animation-delay: -0.144s;
        }

            .lds-roller div:nth-child(4):after {
                top: 72px;
                left: 40px;
            }

        .lds-roller div:nth-child(5) {
            animation-delay: -0.18s;
        }

            .lds-roller div:nth-child(5):after {
                top: 71px;
                left: 32px;
            }

        .lds-roller div:nth-child(6) {
            animation-delay: -0.216s;
        }

            .lds-roller div:nth-child(6):after {
                top: 68px;
                left: 24px;
            }

        .lds-roller div:nth-child(7) {
            animation-delay: -0.252s;
        }

            .lds-roller div:nth-child(7):after {
                top: 63px;
                left: 17px;
            }

        .lds-roller div:nth-child(8) {
            animation-delay: -0.288s;
        }

            .lds-roller div:nth-child(8):after {
                top: 56px;
                left: 12px;
            }

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
